@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: Cousine;
  src: url(./fonts/Cousine/Cousine-Regular.ttf);
}
@font-face {
  font-weight: 700;
  font-family: Cousine;
  src: url(./fonts/Cousine/Cousine-Bold.ttf);
}
@font-face {
  font-weight: 700;
  font-family: Merriweather Sans;
  src: url(./fonts/Merriweather_Sans/static/MerriweatherSans-Bold.ttf);
}
@font-face {
  font-weight: 800;
  font-family: Merriweather Sans;
  src: url(./fonts/Merriweather_Sans/static/MerriweatherSans-ExtraBold.ttf);
}
@font-face {
  font-weight: 400;
  font-family: Merriweather Sans;
  src: url(./fonts/Merriweather_Sans/static/MerriweatherSans-Regular.ttf);
}
@font-face {
  font-weight: 400;
  font-family: Roboto Condensed;
  src: url(./fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-weight: 700;
  font-family: Roboto Condensed;
  src: url(./fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf);
}
.header__topBar {
  background-color: #f6f6f6;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.topBar__left {
  display: flex;
  gap: 40px;
}
.topBar__right {
  display: flex;
  gap: 40px;
}
.topBar_link {
  font-family: "Merriweather Sans";
  font-size: 11px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7e7e7e;
}
.topBar__details {
  position: relative;
}
.topBar__details_link summary {
  display: block;
}
.topBar__details_link summary::-webkit-details-marker {
  display: none;
}
.topBar__details_link summary::after {
  content: "▼";
  padding: 0 5px;
}
.topBar__details_link details[open] > summary::after {
  content: "▼";
}

.details_block {
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: 11px;
}

.header__search {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e1e1;
}
.search_submit {
  width: 16px;
  height: 16px;
  border: none;
  background: url(./img/search_icon.png) no-repeat 50% 50%;
  padding-right: 20px;
  cursor: pointer;
}
.search_search {
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
  padding: 11px 0 11px 11px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 19px;
}
.navigation__left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navigation__right_list {
  position: relative;
  display: flex;
  gap: 19px;
}
.navigation_link {
  font-family: Cousine;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #565656;
}

.logo__name {
  font-family: "Merriweather Sans";
  font-size: 44px;
  line-height: 19px;
  font-weight: 700;
  color: #454545;
}

.list_hover {
  padding: 17px 15px 0;
}

.list_hover:hover .bigMenu {
  display: flex;
}

.bigMenu {
  display: none;
  flex-direction: column;
  border: 1px solid black;
  position: absolute;
  top: 36px;
  left: -506px;
  padding: 40px 30px;
  max-width: 1170px;
  background-color: #fff;
  z-index: 2;
}
.bigMenu__top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.bigMenu__bottom {
  display: flex;
  gap: 42px;
  margin-top: 57px;
}
.bigMenu__bottom_block1 {
  background-color: #cccccc;
  display: flex;
  align-items: center;
  gap: 78px;
}
.bigMenu__bottom_block2 {
  background-color: #cccccc;
}
.bigMenu__bottom_block2 p {
  padding: 54px 49px 49px;
  font-family: "Roboto Condensed";
  font-size: 35px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.bigMenu__bottom_block3 {
  background-color: #cccccc;
}
.bigMenu__block_sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cccccc;
}
.bigMenu__block_sale h2 {
  padding: 102px 24px 35px;
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 25px;
  line-height: 25px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}
.bigMenu__block_sale span {
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 700;
}
.bigMenu__block_sale p {
  padding: 0 58px 16px;
  font-family: Arial;
  font-size: 13px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.bigMenu_link {
  min-width: 190px;
}
.bigMenu_link a {
  display: block;
  font-family: Arial;
  font-size: 14px;
  line-height: 32px;
  color: #555555;
}
.bigMenu_link a:hover {
  color: #cf4647;
}

.block3__box {
  display: flex;
  flex-direction: column;
  padding: 21px 182px 0 45px;
}

.box {
  font-family: "Roboto Condensed";
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
.box_text1 {
  font-family: "Merriweather Sans";
  font-size: 36px;
  font-weight: 800;
}
.box_text2 {
  font-size: 28px;
}
.box_text3 {
  font-size: 29px;
}

.block_text {
  padding-right: 7px;
  line-height: 32px;
  color: #1b1b1b;
}
.block_text_top {
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.block_text_middel {
  font-family: "Merriweather Sans";
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}
.block_text_middel:before, .block_text_middel:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 45px;
  height: 2px;
  background: #000;
}
.block_text_middel:before {
  margin-left: -100%;
  margin-right: 6px;
}
.block_text_middel:after {
  margin-right: -100%;
  margin-left: 6px;
}
.block_text_bot {
  font-family: "Merriweather Sans";
  font-size: 34px;
  font-weight: 800;
  text-transform: uppercase;
}
.block_name {
  display: flex;
  gap: 9px;
  margin-bottom: 28px;
}

.title_link {
  font-family: Cousine;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #666666;
}

.line_bottom {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}

.block1_size {
  font-family: Arial;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 52px;
}

.banner {
  background-color: #cccccc;
  padding: 0 30px;
}
.banner__mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.mid__content {
  margin-top: 378px;
  padding-left: 600px;
  margin-bottom: 252px;
}
.mid__content_top {
  font-family: Cousine;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
}
.mid__content_title {
  margin-top: 19px;
  font-family: "Merriweather Sans";
  font-size: 100px;
  line-height: 80px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
}
.mid__content_subTitle {
  margin-top: 18px;
  margin-bottom: 29px;
  font-family: "Roboto Condensed";
  font-size: 35px;
  line-height: 33px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4c4c4c;
}
.mid__content_link {
  font-family: "Merriweather Sans";
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}
.mid__content_link:hover {
  color: #cf4647;
}

.mid__button {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: rgba(224, 224, 224, 0);
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.arrow {
  width: 14px;
  height: 14px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  margin-right: 60px;
}

.mid__button:hover {
  border: 3px solid #8a8686;
}

.mid__button:hover .arrow {
  border-top: 3px solid #8a8686;
  border-right: 3px solid #8a8686;
}

.left__arrow {
  position: absolute;
  top: 15px;
  left: 19px;
  transform: rotate(-135deg);
}

.right__arrow {
  position: absolute;
  top: 15px;
  left: 13px;
  transform: rotate(45deg);
}

.bottom__text {
  font-family: Arial;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.bottom__slider {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.bottom__slider_circle {
  width: 14px;
  height: 14px;
  background-color: rgba(85, 85, 85, 0);
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.bottom__slider_circle:hover {
  background-color: #fff;
}

.block {
  background-color: #cccccc;
  color: #fff;
}
.block_size {
  font-family: Arial;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}
.block_link {
  font-family: "Merriweather Sans";
  font-size: 14.1px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.block_link:hover {
  color: #cf4647;
}

.advertising {
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: 430px repeat(2, 250px);
  grid-gap: 30px;
}
.advertising_bgColor {
  background-color: #f3f3f3;
}
.advertising__block1 {
  grid-column: 1/3;
}
.advertising__block1_size {
  margin-top: 27px;
  padding-right: 15px;
  text-align: right;
}
.advertising__block1_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 72px;
  margin-bottom: 39px;
}
.advertising__block1_link {
  padding: 0 303px;
}
.advertising__block2 {
  grid-row: 1/3;
  grid-column: 3/4;
}
.advertising__block2__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
}
.advertising__block2__content_top {
  text-align: center;
}
.advertising__block2__content_midSize {
  padding-top: 222px;
}
.advertising__block2__content_link {
  margin-top: 222px;
}
.advertising__block3__topSize {
  padding-top: 12px;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 20px;
}
.advertising__block3__mid {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advertising__block3__mid_title {
  font-family: "Merriweather Sans";
  font-size: 40px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.advertising__block3__mid_subTitle {
  margin-top: 12px;
  margin-bottom: 35px;
  font-family: "Roboto Condensed";
  font-size: 23px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.advertising__block4 {
  grid-row: 2/4;
  grid-column: 2/3;
  padding-bottom: 20px;
}
.advertising__block4__topSize {
  padding-top: 17px;
  text-align: right;
  padding-right: 10px;
}
.advertising__block4__mid {
  margin-top: 166px;
  text-align: center;
}
.advertising__block4__mid_title {
  font-family: "Roboto Condensed";
  font-size: 35px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.advertising__block4__mid_text {
  font-family: Cousine;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}
.advertising__block4__mid_text:before, .advertising__block4__mid_text:after {
  content: "";
  display: inline-block;
  vertical-align: text_bottom;
  box-sizing: border-box;
  width: 80px;
  height: 1px;
  background: #fff;
}
.advertising__block4__mid_text:before {
  margin-left: -100%;
  margin-right: 6px;
}
.advertising__block4__mid_text:after {
  margin-right: -100%;
  margin-left: 6px;
}
.advertising__block4__mid_subTitle {
  margin-bottom: 131px;
  font-family: Cousine;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.advertising__block4__slider {
  margin-top: 26px;
  display: flex;
  justify-content: center;
}
.advertising__block5 {
  padding-bottom: 20px;
}
.advertising__block5__topSize {
  padding-top: 25px;
  text-align: right;
  padding-right: 15px;
}
.advertising__block5__mid {
  margin-top: 56px;
  text-align: center;
}
.advertising__block5__mid_title {
  font-family: "Merriweather Sans";
  font-size: 30px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}
.advertising__block5__mid_title:before, .advertising__block5__mid_title:after {
  content: "";
  display: inline-block;
  vertical-align: text_bottom;
  box-sizing: border-box;
  width: 50px;
  height: 2px;
  background: #fff;
}
.advertising__block5__mid_title:before {
  margin-left: -100%;
  margin-right: 6px;
}
.advertising__block5__mid_title:after {
  margin-right: -100%;
  margin-left: 6px;
}
.advertising__block5__mid_subTitle {
  margin-top: 12px;
  margin-bottom: 50px;
  font-family: "Roboto Condensed";
  font-size: 25px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.advertising__block6__topSize {
  margin-top: 18px;
  text-align: right;
  padding-right: 17px;
}
.advertising__block6__mid_title {
  margin-top: 84px;
  font-family: "Roboto Condensed";
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.content__button {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: rgba(224, 224, 224, 0);
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.content__button:hover {
  border: 3px solid #8a8686;
}
.content__button:hover .arrow {
  border-top: 3px solid #8a8686;
  border-right: 3px solid #8a8686;
}
.content__text {
  padding: 72px 32px;
  border: 1px solid rgba(255, 255, 255, 0.29);
  text-align: center;
}
.content__text_h2 {
  font-family: Cousine;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.content__text_h2:before, .content__text_h2:after {
  content: "";
  display: inline-block;
  vertical-align: text_bottom;
  box-sizing: border-box;
  width: 101px;
  height: 3px;
  background: #fff;
}
.content__text_h2:before {
  margin-left: -100%;
  margin-right: 6px;
}
.content__text_h2:after {
  margin-right: -100%;
  margin-left: 6px;
}
.content__text_h3 {
  font-family: "Roboto Condensed";
  font-size: 25px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}
.content__arrow_left {
  position: absolute;
  top: 11px;
  left: 14px;
  transform: rotate(-135deg);
}
.content__arrow_right {
  position: absolute;
  top: 11px;
  left: 8px;
  transform: rotate(45deg);
}
.content_top_p {
  font-family: Cousine;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #2f2f2f;
}
.content_top_title {
  font-family: "Merriweather Sans";
  font-size: 25px;
  line-height: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
}
.content_top_title:before, .content_top_title:after {
  content: "";
  display: inline-block;
  vertical-align: text_bottom;
  box-sizing: border-box;
  width: 50px;
  height: 1px;
  background: #333;
}
.content_top_title:before {
  margin-left: -100%;
  margin-right: 6px;
}
.content_top_title:after {
  margin-right: -100%;
  margin-left: 6px;
}
.content_top_subTitle {
  font-family: "Roboto Condensed";
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2f2f2f;
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catalog_links {
  display: flex;
  gap: 70px;
  margin-top: 60px;
}
.catalog_links a {
  padding-bottom: 9px;
  border-bottom: 2px solid #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #999999;
}
.catalog_links a:hover {
  color: #444444;
  border-bottom: 2px solid #444444;
}
.catalog__products {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 460px);
  grid-gap: 30px;
}

.product__img {
  position: relative;
  background-color: #ccc;
  padding-top: 18px;
}
.product__img_size {
  visibility: hidden;
  padding: 150px 88px;
  font-family: Arial;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}
.product__img_size_visibility {
  visibility: inherit;
}
.product__img__action {
  display: none;
  position: absolute;
  top: 10px;
  left: -3px;
  padding: 9px 17px;
  font-family: Arial;
  font-size: 17px;
  line-height: 17px;
  font-weight: 900;
  color: #cf4647;
  border: 3px solid #cf4647;
}
.product__img__action_visibility {
  display: block;
}
.product__img__action_new {
  text-transform: uppercase;
  color: #524656;
  border: 3px solid #524656;
}
.product__img__action_outStock {
  text-transform: uppercase;
  color: #999;
  border: 3px solid #999;
}
.product__img__color {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none;
  gap: 10px;
}
.product__figcaption {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.product__figcaption_name {
  width: 60%;
  font-family: "Merriweather Sans";
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: #444444;
}
.product__figcaption_price {
  visibility: hidden;
  font-family: Cousine;
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
  color: #222222;
}
.product__cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__cart_topButton {
  margin-top: 10px;
  display: none;
  border: 2px solid #444444;
}
.product__cart_topButton button {
  margin: 12px 0;
  padding: 0 20px;
  font-family: "Merriweather Sans";
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  background-color: #fff;
  cursor: pointer;
}
.product__cart_topButton button:hover {
  color: #be6868;
}
.product__cart_botButton {
  display: none;
}
.product__cart_botButton button {
  margin-top: 3px;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: "Merriweather Sans";
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #333333;
}
.product__cart_botButton button:hover {
  color: #be6868;
  border: 1px solid #333333;
}

.product:hover .product__img__color {
  display: flex;
}

.product:hover .product__cart_topButton {
  display: flex;
}

.product:hover .product__cart_botButton {
  display: flex;
}

.color {
  width: 25px;
  height: 25px;
  border: 1px solid #555555;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
  cursor: pointer;
}
.color_black {
  background-color: #0e0c0f;
}
.color_blue {
  background-color: #202a4e;
}
.color_darkRed {
  background-color: #923349;
}

.border {
  border: none;
}
.border_left {
  border-left: 2px solid #444444;
}
.border_right {
  border-right: 2px solid #444444;
}

.discount {
  font-family: Cousine;
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
}
.discount_visibility {
  visibility: inherit;
}

.showMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 105px;
  background-color: #fff;
  border: none;
  font-family: "Merriweather Sans";
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 121px;
  cursor: pointer;
}

.showMore:before,
.showMore:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 520px;
  height: 3px;
  background: #ddd;
}

.showMore:before {
  margin-left: -100%;
  margin-right: 20px;
}

.showMore:after {
  margin-right: -100%;
  margin-left: 20px;
}/*# sourceMappingURL=style.css.map */